@import '_variables.scss';
@import '_typography.scss';

/* --------------------------
* BODY
* -------------------------- */
body {
  background: #FFFFFF;
  padding: 0px;
  margin: 0px;
}

/* --------------------------
* Main
* -------------------------- */
#app {
  position: relative;
  margin: 0px auto;
}

@import 'import/_header.scss';
